<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.2gis.local" value="http://nuget.2gis.local/nuget" />
    <add key="nuclear" value="https://tfs.2gis.one/CommerceServices/_packaging/nuclear/nuget/v3/index.json" />
    <add key="Custom Packages" value="lib" />
  </packageSources>
</configuration>
