<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="BusinessModel" value="{Country}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="{EnvType}.{Country}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}.{Country}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ErmEventsFlowTopic" value="{ErmEventsFlowTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReplicationBatchSize" value="10000"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnableJobsRemoteControl" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="ValidationRules" connectionString="Data Source={DBHost};Initial Catalog=ValidationRules{DbEnv}RU;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Erm" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}{DbCountry};Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Russia" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}RU;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Czech" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}CZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Cyprus" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}CY;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Emirates" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}AE;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kazakhstan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}KZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Kyrgyzstan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}KG;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Ukraine" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}UA;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Uzbekistan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}UZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Erm.Azerbaijan" connectionString="Data Source={DBHost};Initial Catalog=Erm{DbEnv}AZ;Integrated Security=True;Enlist=False;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ams" connectionString='{"topic":"{AmsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Rulesets" connectionString='{"topic":"{RulesetsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05", "queued.max.messages.kbytes":"102400","queued.min.messages":"100"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True;Application Name={EntryPoint}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}{Country},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}{Country};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}{Country},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}{Country};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>
