<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EntryPointName" value="River.StateInitialization.ValidationRules" />
    <add key="TargetEnvironmentName" value="Dev" />
  </appSettings>
  <connectionStrings>
    <add name="ValidationRules" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ValidationRulesRU20;Integrated Security=True;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Russia" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Czech" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Cyprus" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Emirates" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Kazakhstan" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Kyrgyzstan" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Ukraine" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Flamp" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Uzbekistan" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Erm.Azerbaijan" connectionString="Data Source=uk-erm-sql02;Initial Catalog=ErmCY20;Integrated Security=True;Enlist=False;Application Name=ValidationRules.StateInitialization.Host" providerName="System.Data.SqlClient" />
    <add name="Ams" connectionString='{"topic":"ams_okapi_prod.am.validity","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05"}' />
    <add name="Rulesets" connectionString='{"topic":"casino_staging_flowRulesets_compacted","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05"}'/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
</configuration>
